# Cleaning of the data collected

In [46]:
import pandas as pd
import numpy as np

In [7]:
import_data = pd.read_csv('/home/sgouros/Desktop/Test/WebScrab3/DataCollection/car_prices_bazaraki.csv')
import_data

,Car,Km_Transmission_Gas,Price,Date_Place
0,"Land Rover Defender 2,0L 2020","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist..."
1,"Lamborghini Urus 4,0L 2020","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist..."
2,"Chevrolet Spark 1,0L 2012","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric..."
3,"Nissan Note e-Power 1,2L 2019","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri..."
4,"Subaru XV 2,0L 2020","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L..."
...,...,...,...,...
4755,"Ford Focus 1,5L 2018","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos..."
4756,"Suzuki Solio 1,3L 2015","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric..."
4757,"Smart Fortwo 0,9L 2018","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos..."
4758,"Volkswagen Golf 1,4L 2008","159000 km, Automatic, Petrol",€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos..."
4759,"Honda Jazz 1,3L 2007","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri..."

## Checking for any dublicated data

In [8]:
dublicates_remove = import_data.drop_duplicates()
dublicates_remove

,Car,Km_Transmission_Gas,Price,Date_Place
0,"Land Rover Defender 2,0L 2020","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist..."
1,"Lamborghini Urus 4,0L 2020","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist..."
2,"Chevrolet Spark 1,0L 2012","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric..."
3,"Nissan Note e-Power 1,2L 2019","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri..."
4,"Subaru XV 2,0L 2020","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L..."
...,...,...,...,...
4755,"Ford Focus 1,5L 2018","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos..."
4756,"Suzuki Solio 1,3L 2015","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric..."
4757,"Smart Fortwo 0,9L 2018","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos..."
4758,"Volkswagen Golf 1,4L 2008","159000 km, Automatic, Petrol",€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos..."
4759,"Honda Jazz 1,3L 2007","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri..."

As we can see there were quite a few of dublicated data. Let's investigate the cause of the duplicate data in our records.

In [9]:
#create copy
no_dublicates = dublicates_remove.copy()

In [10]:
dublicates_were_removed = import_data[~import_data.isin(dublicates_remove)].dropna()
dublicates_were_removed

,Car,Km_Transmission_Gas,Price,Date_Place
48,Tesla Model Y Electric 2022,"40 km, Automatic, Electric",€91.000,"Today 16:15,\n Lefkosia (Nicosia) d..."
164,"Subaru XV 2,0L 2020","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L..."
294,"BMW X6 3,0L 2015","85000 km, Automatic, Diesel",€38.800,"Today 10:14,\n Limassol district, L..."
412,"Audi A4 1,8L 2009","174000 km, Manual, Petrol",€7.800,"21.01.2023 21:45,\n Limassol distri..."
414,"Hyundai i30 1,6L 2016","66180 km, Automatic, Petrol",€12.900,"Today 08:13,\n Larnaca district, La..."
...,...,...,...,...
4695,"Ford Mustang 2,3L 2019","65000 km, Automatic, Petrol",€49.995,"19.01.2023 16:31,\n Limassol distri..."
4696,"Nissan Serena 2,0L 2018","48200 km, Automatic, Petrol",€18.500,"18.01.2023 16:51,\n Lefkosia (Nicos..."
4697,"Citroen Berlingo 1,6L 2016","300000 km, Manual, Diesel",€8.500,"21.01.2023 12:56,\n Lefkosia (Nicos..."
4698,"Nissan 300ZX 3,0L 1991","130000 km, Automatic, Petrol",€21.000,"22.01.2023 12:33,\n Limassol distri..."
4699,"Mazda CX-3 1,8L 2020","51000 km, Automatic, Diesel",€23.500,"Yesterday 17:54,\n Paphos district,..."

Don't really know what I can do with the dublicated datas, later I will try to find out why we got dublicated data. It is likely that some of the cars were listed multiple times. Once the root cause is identified, I will take appropriate measures to address it.

## Split the columns so we have a better "view"

I plan to improve the organization of our records by restructuring the "car" and "km_transmission_gas" column. Specifically, I will separate the car brand, model, engine and year into their own columns. This will facilitate future analysis and provide more detailed information about the cars in our records.

In [11]:
dublicates_remove['Car_Brand'] = dublicates_remove['Car'].str.split().str[0] #Car_Brand
dublicates_remove['Car_Model'] = dublicates_remove['Car'].str.split(" ", n=2, expand=True)[1] #Car_Model
dublicates_remove['Car_Engine'] = dublicates_remove['Car'].str.split(" ", n=3, expand=True)[2] #Car_Engine
dublicates_remove['Car_Year'] = dublicates_remove['Car'].str[-4:] #Car_Year
dublicates_remove['Km'] = dublicates_remove['Km_Transmission_Gas'].str.split().str[0]
dublicates_remove['Transmission'] = dublicates_remove['Km_Transmission_Gas'].str.split().str[2]
dublicates_remove['Gas'] = dublicates_remove['Km_Transmission_Gas'].str.split().str[3]
dublicates_remove.head()

/tmp/ipykernel_5170/1729520852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove['Car_Brand'] = dublicates_remove['Car'].str.split().str[0] #Car_Brand
/tmp/ipykernel_5170/1729520852.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove['Car_Model'] = dublicates_remove['Car'].str.split(" ", n=2, expand=True)[1] #Car_Model
/tmp/ipykernel_5170/1729520852.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove['Car_Engine'] = dublicates_remove['Car'].str.split(" ", n=3, expand=True)[2] #Car_Engine
/tmp/ipykernel_5170/1729520852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove['Car_Year'] = dublicates_remove['Car'].str[-4:] #Car_Year
/tmp/ipykernel_5170/1729520852.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove['Km'] = dublicates_remove['Km_Transmission_Gas'].str.split().str[0]
/tmp/ipykernel_5170/1729520852.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove['Transmission'] = dublicates_remove['Km_Transmission_Gas'].str.split().str[2]
/tmp/ipykernel_5170/1729520852.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove['Gas'] = dublicates_remove['Km_Transmission_Gas'].str.split().str[3]

,Car,Km_Transmission_Gas,Price,Date_Place,Car_Brand,Car_Model,Car_Engine,Car_Year,Km,Transmission,Gas
0,"Land Rover Defender 2,0L 2020","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,Rover,Defender,2020,50000,"Automatic,",Diesel
1,"Lamborghini Urus 4,0L 2020","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,Urus,"4,0L",2020,15000,"Automatic,",Petrol
2,"Chevrolet Spark 1,0L 2012","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,Spark,"1,0L",2012,130000,"Manual,",Petrol
3,"Nissan Note e-Power 1,2L 2019","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,Note,e-Power,2019,32000,"Automatic,",Hybrid
4,"Subaru XV 2,0L 2020","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,XV,"2,0L",2020,13000,"Automatic,",Hybrid

In [12]:
unique_engine = dublicates_remove['Car_Engine'].unique()
unique_engine

array(['Defender', '4,0L', '1,0L', 'e-Power', '2,0L', '1,6L', '3,0L',
       '4,3L', 'Range', '2,1L', '1,2L', '2,9L', 'Y', '1,9L', 'GT', '3',
       'Electric', 'S', '1,5L', '2,2L', 'Tributo', 'Mach-E', '2,3L',
       '1,3L', 'Discovery', '1,7L', '2,5L', '2,8L', '1,8L', 'Astra',
       'Corsa', '0,9L', '0,7L', 'Star', 'Insignia', '1,4L', '4,7L',
       '3,6L', 'Stelvio', 'Evolution', 'Cruiser', '3,1L', '2,4L', '3,8L',
       'Spider', '3,5L', '4,4L', 'Vectra', 'Spur', 'X', '6,2L', 'Phantom',
       'Multispace', '0,6L', 'Giulietta', '2,7L', '4,2L', '1,1L', '5,5L',
       '4,5L', '3,3L', 'RS', 'Antara', '3,2L', '500', 'Cross', '6,0L',
       '595', 'Country', '0,4L', '6,8L', '8,0L', '5,2L', 'Vitara',
       'Cherokee', 'Techno', '5,0L', 'Mokka', '3,4L', 'Punto', 'Fe', 'CC',
       '6,5L', 'Zafira', '6,3L', '159', '3,7L', 'GTB', '0,8L', 'Ghost',
       'Vantage', 'M', '5,3L', 'Equilibre', 'Essential', 'Expression',
       'Comfort', 'D3', 'MiTo', 'Aircross', 'DB11', 'GTC', 'Picasso',
       'Levin', 'Wraith', 'Silver', 'Freelander', 'Acenta',
       'Acenta-Comfort', 'Brera', 'Giulia', '5,7L', '147', 'C-MAX',
       'Adam', 'DBX', 'Meriva', 'II', '5,4L', '2,6L', 'N-Connecta',
       'Tekna-Premium', 'N-Connecta-Dynamic', 'N-Design', 'Tekna+',
       '6,4L', 'E-TECH', 'Prestige', 'TECHNO', 'Extreme', '6'],
      dtype=object)

In [13]:
move_list = ['e-Power','Defender','Range','Discovery','S','Tributo','Mach-E','Astra','Corsa','Star', 'Corsa','Insignia','Stelvio', 'Evolution','Cruiser','Spider','Vectra', 'Spur', 'X','Phantom','Multispace','Giulietta','Antara','Cross','595', 'Country','Vitara','Cherokee','Techno','Mokka','Punto', 'Fe', 'CC','Zafira','GTB','Ghost','Vantage','M','Equilibre', 'Essential', 'Expression','Comfort', 'D3', 'MiTo', 'Aircross', 'DB11', 'GTC', 'Picasso','Levin', 'Wraith', 'Silver', 'Freelander', 'Acenta','Acenta-Comfort', 'Brera', 'Giulia','C-MAX','Adam', 'DBX', 'Meriva', 'II','N-Connecta','Tekna-Premium', 'N-Connecta-Dynamic', 'N-Design', 'Tekna+','E-TECH','Prestige', 'TECHNO', 'Extreme']
for i, row in dublicates_remove.iterrows():
    # Check if the value in column 2 is in the list of search strings
    if row['Car_Engine'] in move_list:
        # If it is, move the value from column 2 to column 1
        dublicates_remove.at[i, 'Car_Model'] = row['Car_Engine']
        dublicates_remove.at[i, 'Car_Engine'] = None
dublicates_remove

,Car,Km_Transmission_Gas,Price,Date_Place,Car_Brand,Car_Model,Car_Engine,Car_Year,Km,Transmission,Gas
0,"Land Rover Defender 2,0L 2020","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,Defender,None,2020,50000,"Automatic,",Diesel
1,"Lamborghini Urus 4,0L 2020","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,Urus,"4,0L",2020,15000,"Automatic,",Petrol
2,"Chevrolet Spark 1,0L 2012","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,Spark,"1,0L",2012,130000,"Manual,",Petrol
3,"Nissan Note e-Power 1,2L 2019","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,e-Power,None,2019,32000,"Automatic,",Hybrid
4,"Subaru XV 2,0L 2020","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,XV,"2,0L",2020,13000,"Automatic,",Hybrid
...,...,...,...,...,...,...,...,...,...,...,...
4755,"Ford Focus 1,5L 2018","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,Focus,"1,5L",2018,62000,"Manual,",Diesel
4756,"Suzuki Solio 1,3L 2015","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,Solio,"1,3L",2015,57000,"Automatic,",Petrol
4757,"Smart Fortwo 0,9L 2018","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,Fortwo,"0,9L",2018,48200,"Automatic,",Petrol
4758,"Volkswagen Golf 1,4L 2008","159000 km, Automatic, Petrol",€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,Golf,"1,4L",2008,159000,"Automatic,",Petrol
4759,"Honda Jazz 1,3L 2007","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,Jazz,"1,3L",2007,154000,"Manual,",Petrol

In [14]:
unique_engine1 = dublicates_remove['Car_Engine'].unique()
unique_engine1

array([None, '4,0L', '1,0L', '2,0L', '1,6L', '3,0L', '4,3L', '2,1L',
       '1,2L', '2,9L', 'Y', '1,9L', 'GT', '3', 'Electric', '1,5L', '2,2L',
       '2,3L', '1,3L', '1,7L', '2,5L', '2,8L', '1,8L', '0,9L', '0,7L',
       '1,4L', '4,7L', '3,6L', '3,1L', '2,4L', '3,8L', '3,5L', '4,4L',
       '6,2L', '0,6L', '2,7L', '4,2L', '1,1L', '5,5L', '4,5L', '3,3L',
       'RS', '3,2L', '500', '6,0L', '0,4L', '6,8L', '8,0L', '5,2L',
       '5,0L', '3,4L', '6,5L', '6,3L', '159', '3,7L', '0,8L', '5,3L',
       '5,7L', '147', '5,4L', '2,6L', '6,4L', '6'], dtype=object)

In [16]:
dublicates_remove.to_csv('car_engine_none.csv', index=False)

Unfortunately, during the transfer of the car engine from the car column, some data was inadvertently lost. To mitigate the impact of this loss, I will conduct a thorough analysis of the missing data and make every effort to accurately estimate any missing values. Furthermore, I will include a detailed explanation of the missing data in my final report.

In [25]:
dublicates_remove['Car_Engine'].isnull().sum()

448

Unfortunately, during the transfer of the car engine data, we have lost approximately 10.36% of the column. Now I will remove the comma of the transmission column and delete any extra column.

In [31]:
dublicates_remove['Transmission'] = dublicates_remove['Transmission'].replace(',','',regex=True)
dublicates_remove

/tmp/ipykernel_5170/1373129215.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove['Transmission'] = dublicates_remove['Transmission'].replace(',','',regex=True)

,Car,Km_Transmission_Gas,Price,Date_Place,Car_Brand,Car_Model,Car_Engine,Car_Year,Km,Transmission,Gas
0,"Land Rover Defender 2,0L 2020","50000 km, Automatic, Diesel",€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,Defender,None,2020,50000,Automatic,Diesel
1,"Lamborghini Urus 4,0L 2020","15000 km, Automatic, Petrol",€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,Urus,"4,0L",2020,15000,Automatic,Petrol
2,"Chevrolet Spark 1,0L 2012","130000 km, Manual, Petrol",€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,Spark,"1,0L",2012,130000,Manual,Petrol
3,"Nissan Note e-Power 1,2L 2019","32000 km, Automatic, Hybrid Petrol",€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,e-Power,None,2019,32000,Automatic,Hybrid
4,"Subaru XV 2,0L 2020","13000 km, Automatic, Hybrid Petrol",€29.950,"Today 15:36,\n Limassol district, L...",Subaru,XV,"2,0L",2020,13000,Automatic,Hybrid
...,...,...,...,...,...,...,...,...,...,...,...
4755,"Ford Focus 1,5L 2018","62000 km, Manual, Diesel",€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,Focus,"1,5L",2018,62000,Manual,Diesel
4756,"Suzuki Solio 1,3L 2015","57000 km, Automatic, Petrol",€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,Solio,"1,3L",2015,57000,Automatic,Petrol
4757,"Smart Fortwo 0,9L 2018","48200 km, Automatic, Petrol",€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,Fortwo,"0,9L",2018,48200,Automatic,Petrol
4758,"Volkswagen Golf 1,4L 2008","159000 km, Automatic, Petrol",€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,Golf,"1,4L",2008,159000,Automatic,Petrol
4759,"Honda Jazz 1,3L 2007","154000 km, Manual, Petrol",€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,Jazz,"1,3L",2007,154000,Manual,Petrol

In [27]:
unique_transmission = dublicates_remove['Transmission'].unique()
unique_transmission

array(['Automatic,', 'Manual,', 'None,', 'SPIDER', 'Brand', 'Pro', 'NEW',
       '60', 'S3.5', 'απο', 'EstateMileage:'], dtype=object)

 It appears that the Transmission column also contains some unnecessary data. To address this issue, I will remove any irrelevant columns in order to make the data more visually clear. Additionally, I will conduct a thorough analysis of the extra data in the Transmission column and count each value to determine if removing these extra values will have any significant impact on our analysis. If it does, I will take appropriate steps to mitigate the impact and include a detailed explanation in my final report.

In [33]:
dublicates_remove.drop(columns=['Car','Km_Transmission_Gas'], inplace=True)
dublicates_remove

/tmp/ipykernel_5170/1218482313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove.drop(columns=['Car','Km_Transmission_Gas'], inplace=True)

,Price,Date_Place,Car_Brand,Car_Model,Car_Engine,Car_Year,Km,Transmission,Gas
0,€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,Defender,None,2020,50000,Automatic,Diesel
1,€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,Urus,"4,0L",2020,15000,Automatic,Petrol
2,€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,Spark,"1,0L",2012,130000,Manual,Petrol
3,€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,e-Power,None,2019,32000,Automatic,Hybrid
4,€29.950,"Today 15:36,\n Limassol district, L...",Subaru,XV,"2,0L",2020,13000,Automatic,Hybrid
...,...,...,...,...,...,...,...,...,...
4755,€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,Focus,"1,5L",2018,62000,Manual,Diesel
4756,€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,Solio,"1,3L",2015,57000,Automatic,Petrol
4757,€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,Fortwo,"0,9L",2018,48200,Automatic,Petrol
4758,€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,Golf,"1,4L",2008,159000,Automatic,Petrol
4759,€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,Jazz,"1,3L",2007,154000,Manual,Petrol

In [50]:
dublicates_remove['Transmission'].value_counts()

Automatic         3099
Manual            1205
None                11
Brand                2
SPIDER               1
Pro                  1
NEW                  1
60                   1
S3.5                 1
απο                  1
EstateMileage:       1
Name: Transmission, dtype: int64

Okay so.... SPOILER ALERT! It appears that there are significantly more automatic transmissions than manual transmissions, approximately three times more. However, we have determined that removing the extra values from the Transmission column will not have a significant impact on our analysis. Therefore, I will proceed with removing these extra values to improve the clarity of the data. I will also note the disproportionate ratio of automatic to manual transmissions in my final report.

In [47]:
dublicates_remove.isna().sum()

Price             0
Date_Place        0
Car_Brand         0
Car_Model         0
Car_Engine      448
Car_Year          0
Km                0
Transmission      0
Gas               0
dtype: int64

In [52]:
dublicates_remove['Transmission_Boolean'] = dublicates_remove['Transmission'].isin(['Automatic','Manual'])
dublicates_remove

/tmp/ipykernel_5170/3899137374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dublicates_remove['Transmission_Boolean'] = dublicates_remove['Transmission'].isin(['Automatic','Manual'])

,Price,Date_Place,Car_Brand,Car_Model,Car_Engine,Car_Year,Km,Transmission,Gas,Transmission_Boolean
0,€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,Defender,None,2020,50000,Automatic,Diesel,True
1,€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,Urus,"4,0L",2020,15000,Automatic,Petrol,True
2,€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,Spark,"1,0L",2012,130000,Manual,Petrol,True
3,€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,e-Power,None,2019,32000,Automatic,Hybrid,True
4,€29.950,"Today 15:36,\n Limassol district, L...",Subaru,XV,"2,0L",2020,13000,Automatic,Hybrid,True
...,...,...,...,...,...,...,...,...,...,...
4755,€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,Focus,"1,5L",2018,62000,Manual,Diesel,True
4756,€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,Solio,"1,3L",2015,57000,Automatic,Petrol,True
4757,€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,Fortwo,"0,9L",2018,48200,Automatic,Petrol,True
4758,€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,Golf,"1,4L",2008,159000,Automatic,Petrol,True
4759,€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,Jazz,"1,3L",2007,154000,Manual,Petrol,True

In [53]:
dublicates_remove.loc[dublicates_remove['Transmission_Boolean'] == False, 'Transmission'] = 'None'
dublicates_remove

,Price,Date_Place,Car_Brand,Car_Model,Car_Engine,Car_Year,Km,Transmission,Gas,Transmission_Boolean
0,€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,Defender,None,2020,50000,Automatic,Diesel,True
1,€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,Urus,"4,0L",2020,15000,Automatic,Petrol,True
2,€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,Spark,"1,0L",2012,130000,Manual,Petrol,True
3,€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,e-Power,None,2019,32000,Automatic,Hybrid,True
4,€29.950,"Today 15:36,\n Limassol district, L...",Subaru,XV,"2,0L",2020,13000,Automatic,Hybrid,True
...,...,...,...,...,...,...,...,...,...,...
4755,€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,Focus,"1,5L",2018,62000,Manual,Diesel,True
4756,€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,Solio,"1,3L",2015,57000,Automatic,Petrol,True
4757,€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,Fortwo,"0,9L",2018,48200,Automatic,Petrol,True
4758,€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,Golf,"1,4L",2008,159000,Automatic,Petrol,True
4759,€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,Jazz,"1,3L",2007,154000,Manual,Petrol,True

In [54]:
dublicates_remove['Transmission'].value_counts()

Automatic    3099
Manual       1205
None           20
Name: Transmission, dtype: int64

In [55]:
dublicates_remove.dropna()

,Price,Date_Place,Car_Brand,Car_Model,Car_Engine,Car_Year,Km,Transmission,Gas,Transmission_Boolean
1,€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,Urus,"4,0L",2020,15000,Automatic,Petrol,True
2,€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,Spark,"1,0L",2012,130000,Manual,Petrol,True
4,€29.950,"Today 15:36,\n Limassol district, L...",Subaru,XV,"2,0L",2020,13000,Automatic,Hybrid,True
5,€18.500,"22.01.2023 16:14,\n Limassol distri...",Peugeot,308,"1,6L",2018,69000,Automatic,Diesel,True
6,€40.000,"18.01.2023 06:25,\n Paphos district...",BMW,M4,"3,0L",2014,82000,Automatic,Petrol,True
...,...,...,...,...,...,...,...,...,...,...
4755,€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,Focus,"1,5L",2018,62000,Manual,Diesel,True
4756,€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,Solio,"1,3L",2015,57000,Automatic,Petrol,True
4757,€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,Fortwo,"0,9L",2018,48200,Automatic,Petrol,True
4758,€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,Golf,"1,4L",2008,159000,Automatic,Petrol,True
4759,€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,Jazz,"1,3L",2007,154000,Manual,Petrol,True

In [57]:
dublicates_remove.drop(columns='Transmission_Boolean')

,Price,Date_Place,Car_Brand,Car_Model,Car_Engine,Car_Year,Km,Transmission,Gas
0,€89.000,"21.01.2023 08:32,\n Paphos dist...",Land,Defender,None,2020,50000,Automatic,Diesel
1,€349.000,"21.01.2023 08:32,\n Paphos dist...",Lamborghini,Urus,"4,0L",2020,15000,Automatic,Petrol
2,€3.500 \n \n \n \n ...,"Yesterday 10:06,\n Limassol distric...",Chevrolet,Spark,"1,0L",2012,130000,Manual,Petrol
3,€15.650,"19.01.2023 15:09,\n Limassol distri...",Nissan,e-Power,None,2019,32000,Automatic,Hybrid
4,€29.950,"Today 15:36,\n Limassol district, L...",Subaru,XV,"2,0L",2020,13000,Automatic,Hybrid
...,...,...,...,...,...,...,...,...,...
4755,€18.000,"27.12.2022 05:49,\n Lefkosia (Nicos...",Ford,Focus,"1,5L",2018,62000,Manual,Diesel
4756,€8.990,"27.12.2022 02:24,\n Larnaca distric...",Suzuki,Solio,"1,3L",2015,57000,Automatic,Petrol
4757,€17.999,"27.12.2022 02:11,\n Lefkosia (Nicos...",Smart,Fortwo,"0,9L",2018,48200,Automatic,Petrol
4758,€5.500 \n \n \n ...,"27.12.2022 01:23,\n Lefkosia (Nicos...",Volkswagen,Golf,"1,4L",2008,159000,Automatic,Petrol
4759,€4.500,"27.12.2022 00:16,\n Limassol distri...",Honda,Jazz,"1,3L",2007,154000,Manual,Petrol

In [59]:
dublicates_remove.isna().sum()

Price                     0
Date_Place                0
Car_Brand                 0
Car_Model                 0
Car_Engine              448
Car_Year                  0
Km                        0
Transmission              0
Gas                       0
Transmission_Boolean      0
dtype: int64

In [62]:
unique_car_engine = dublicates_remove['Car_Engine'].unique()
unique_car_engine

array([None, '4,0L', '1,0L', '2,0L', '1,6L', '3,0L', '4,3L', '2,1L',
       '1,2L', '2,9L', 'Y', '1,9L', 'GT', '3', 'Electric', '1,5L', '2,2L',
       '2,3L', '1,3L', '1,7L', '2,5L', '2,8L', '1,8L', '0,9L', '0,7L',
       '1,4L', '4,7L', '3,6L', '3,1L', '2,4L', '3,8L', '3,5L', '4,4L',
       '6,2L', '0,6L', '2,7L', '4,2L', '1,1L', '5,5L', '4,5L', '3,3L',
       'RS', '3,2L', '500', '6,0L', '0,4L', '6,8L', '8,0L', '5,2L',
       '5,0L', '3,4L', '6,5L', '6,3L', '159', '3,7L', '0,8L', '5,3L',
       '5,7L', '147', '5,4L', '2,6L', '6,4L', '6'], dtype=object)

In [63]:
transmission_mask = dublicates_remove['Transmission'].str.contains(r'^\d+\.\dL$', na=False)
dublicates_remove = dublicates_remove[transmission_mask]

In [67]:
dublicates_remove.head()

Empty DataFrame
Columns: [Price, Date_Place, Car_Brand, Car_Model, Car_Engine, Car_Year, Km, Transmission, Gas, Transmission_Boolean]
Index: []